.App {
  min-height: 100vh;
  display: flex;
  padding: 1rem;
  width: 97vw;
  max-width: 60rem;
  margin: 0 auto;
}

* {
  border: 1px solid gray;
}

.lightTheme {
  background-color: rgb(var(--lightTheme));
  color: rgb(var(--darkTheme));
}

.darkTheme {
  background-color: rgb(var(--darkTheme));
  color: rgb(var(--lightTheme));
}

h1 {
  font-size: 2rem;
  padding-top: 1rem;
  border-top: 1px solid lightgray;
}

h2 {
  font-size: 1.2rem;
}

h4 {
  font-size: .8rem;
  font-style: italic;
  font-weight: 500;
  padding-bottom: 1rem;
  border-bottom: 1px solid lightgray;
}

p {
  font-size: .85rem;
}

section {
  display: flex;
  flex-direction: column;
}

.leftSide {
  width: 35%;
}

.rightSide {
  width: 65%;
}

header {
  padding: 1rem;
  height: 12rem;
}

.rightSide header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.photo {
  background: url('./assets/pictures/mano_foto.jpg') center center / cover no-repeat;
  width: 10rem;
  height: 10rem;
  margin: 0 auto;
  border-radius: 50%;
  -webkit-print-color-adjust: exact;
}

.sectionItem {
  padding: 2rem 1rem 1rem 1rem;
}

.sectionItem-Header {
  display: flex;
  align-items: center;
  padding-bottom: .3rem;
  margin-bottom: .7rem;
  border-bottom: 1px solid lightgray;
}

.sectionItem-Icon {
  height: 100%;
  width: 1.4rem;
  background-color: rgb(var(--lightTheme));
  border-radius: 50%;
  margin-right: 1.5rem;
}

.skills-icon {
  background: none;
}

.skillsListContainer {
  display: flex;
  margin-bottom: 1rem;
}

.contactList {
  list-style: none;
}

.contactList li {
  margin-bottom: .5rem;
}



