:root {
  font-size: calc(0.4vw + 12px);
  --lightTheme: 242, 244, 245;
  --darkTheme: 15, 15, 15;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: 'Nunito', sans-serif;
}

@page {
  margin: 0mm;
}

@media (max-width: 555px) {
  :root {
    font-size: 2.5vw;
  }
}
